*{

    font-family: 'Montserrat', sans-serif;
}

.menBar{
display: inline

}

img {
    float: left;
height: 100px;
}


.menuButtons{

justify-content: flex-end;
display: flex;
list-style-type:none;
cursor: pointer;
padding: 30px;


}


.menuButtons :hover{

    background-color: #B0A084

}
li {
    padding: 10px;
   
    border-radius: 10px;
    margin:15px;
}

.home{ 
    width: 800px;
    margin-left: auto;
    margin-right: auto;
     }

.imgretiro{
    margin-right: 30px;
    border-radius: 4px;
    width: 300px;
    height: 200px;
}

p{margin-top: 200px;}

a{
    text-decoration: none;
    color: black;
}


.aboutus{ 
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.servicios{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.relleno{
    margin-top: 80px

    
}
/*//////////////////////////////////////////////////////////////////////
//contact form 


/*/



h1 {
    text-align: center;
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
}
  

  .textarea {
      height: 60px;
      width: 400px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}